body {
    font-family: Arial, sans-serif;
    background-image: url('/static/design_images/images.jpeg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    align-items: center;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: auto;
}

.container_form {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 20px;
    border-radius: 5px;
}

header {
    background: rgba(46, 95, 0, 0.363);
    color: #ffffff;
    padding: 0;
    text-align: center;
    position: relative; /* Adjust position */
    top: 0; /* Place at the top of the page */
    left: 0; /* Place at the left edge of the page */
    right: 0; /* Place at the right edge of the page */
    margin: 0; /* Reset default margin */
    z-index: 10; /* To appear above other content */
}

h1 {
    margin: 0; /* Reset default margin */
    padding: 20px; /* Add padding for separation */
    font-size: 48px; /* Increase title size */
    font-weight: bold; /* Bold text style */
    color: rgb(255, 255, 255); /* Change title color to white */
    text-shadow: 2px 2px 4px rgb(0, 0, 0); /* Outer shadow effect */
    position: relative; /* Adjust position */
}

form {
    background: rgba(80, 88, 73, 0.363);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-self: center;
}

input[type="file"] {
    margin: 10px 0;
}

button {
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    background: #0c310c;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

#result {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 20px;
    margin-right: 20px;
    background: #68aa58ab;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0);
    width: 100%;
    box-sizing: border-box;
    height: max-content;
}

#loading {
    display: none;
    text-align: center;
    margin-top: 20px;
}

#wiki-info {
    flex: 1;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 20px;
    background: #a2d68dc2;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    overflow-y: auto;
    height: 700px;
}

#preview {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.fruit-name {
    font-size: 36px;
    font-weight: bold;
    color: #000000;
}